{% if include.lookup %}
  {% assign post = site.posts 
    | where_exp: "post", "post.slug == include.lookup"
    | first
    | default: include
  %}
{% else %}
  {% assign post = include %}
{% endif %}

<div class="post-excerpt-container">
  <article class="post-excerpt">
    {% assign url = post.url | relative_url | uri_escape %}
    {% assign title = post.title %}

    {% if post.image and post.image != "" %}
      {% assign image = post.image | relative_url | uri_escape %}
      <a
        href="{{ url }}"
        class="post-excerpt-image"
        aria-label="{{ title | default: "excerpt link" | regex_strip }}"
      >
        <img
          src="{{ image }}"
          alt="{{ title | default: "excerpt image" | regex_strip }}"
          loading="lazy"
          {% include fallback.html %}
        >
      </a>
    {% endif %}

    <div class="post-excerpt-text">
      {% assign post_heading = include.heading | default: 'h3' %}
      <{{ post_heading }} class="post-excerpt-title"><a href="{{ url }}">{{ title | escape }}</a>{% include news-new-badge.html url=post.url %}</{{ post_heading }}>

      {%
        include post-info.html
        author=post.author
        published=post.date
        updated=post.last_modified_at
        tags=post.tags
      %}

      {% assign excerpt = post.content
        | default: ""
        | regex_scan: "<!-- excerpt start -->(.*)<!-- excerpt end -->", true
        | default: post.excerpt
        | default: ""
        | strip_html
      %}
      {% assign search = post.content
        | strip_html
        | strip_newlines
        | regex_strip
      %}
      <p data-search="{{ search | escape }}">
        {{ excerpt }}
      </p>
    </div>
  </article>
</div>
